html {
	scroll-behavior: smooth;
}

body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
	
}

.container {
	width: 94%;
	margin: 0 auto;
	height: 80%;
	transition: all 1s;
}

.container-wrapper {
	position: relative;
	padding: 50px 0px 50px 0px;
	max-width: 100%;
	margin: 0 auto;
	max-height: 100%;
}

.container-video {
	width: 94%;
	margin: 0 auto;
	height: 400px;
	
}

.container-rodape {
	width: 94%;
	margin: 0 auto;
	height: 80%;
}

.gallery {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

.gallery-wrapper {
	overflow-x: hidden;
	width: 100%;
}

.arrow-left, .arrow-right {
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0;
	right: auto;
	bottom: 0px;
	font-size: 150px;
	line-height: 250px;
	width: 200px;
	text-align: center;
	color: #FFF;
	cursor: pointer;
	border: none;
	background: linear-gradient(to right, transparent 0%, rgb(24, 24, 24) 95%);
	opacity: 1;
	transition: all 600ms ease-in-out;
}

.arrow-left {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.arrow-right {
	left: auto;
	right: 0;
	background: linear-gradient(to right, transparent 0%, rgb(24, 24, 24) 95%);
}

.arrow-left:hover {
	opacity: 1;
}

.arrow-right:hover {
	opacity: 1;
}

.cabecalhoPrincipal {
	color: #ffffff;
	padding: 14% 0;
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.418), rgba(117, 19, 93, 0.73)), url(../img/logan.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	transition: all 1s;
}

.cabecalhoPrincipal-titulo {
	font-weight: bold;
	font-size: 5em;
	margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.cabecalhoPrincipal-nav {
	height: 400px;
}

.cabecalhoPrincipal-nav-link {
	font-size: 2em;
	padding: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.281);
	text-decoration: none;
	transition: .6s;
	border-color: rgba(255, 255, 255, 0.281) ;
}

.conteudoPrincipal {
	background-color: rgb(37, 37, 37);
	color: #ffffff;
	background-image: linear-gradient(to top, rgba(245, 246, 252, 0.603), rgba(0, 0, 0, 0.781)), url(../img/wolverine.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex-shrink: fit-content;
}

.conteudoPrincipal-catalogo {
	margin-bottom: 20px;
}

.subtitulo {
	float: inline-start;
	position: relative;
	z-index: 3;
	padding: 40px;
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
	margin-left: 100px;
}

.conteudoPrincipal-catalogo-link {
	height: fit-content;
	text-align: center;
	margin: 1%;
	transition: .3s;
	position: relative;
	padding-bottom: 0px;
	align-items: center;
	text-align: center;
}

.item {
	align-items: center;
	position: relative;
	width: 300px;
	height: 500px;
	flex-shrink: 0;
	opacity: 0.6;
	transition: all 600ms ease-in-out;
	border-radius: 10px;
}

.current-item {
	z-index: 2;
	opacity: 1;
	transform: scale(1.2);
	box-shadow: 0 0 20px black;
}

.conteudoPrincipal-catalogo-link a {
	font-size: 20px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
	display: block;
	width: 100%;
	margin-top: 0px;
	position: relative;
	left: 0;
}

.conteudoPrincipal-catalogo-link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}

.rodapePrincipal-patrocinadores {
	margin-top: 0px;
	background: #F2F5F7;
	padding: 10px 0;
}

.rodapePrincipal-contatoForm {
	margin-top: 0px;
	text-align: center;
}

.rodapePrincipal-contatoForm label[for=email-contato] {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	margin-bottom: 5px;
	display: block;
}

.rodapePrincipal-contatoForm-emailInput {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
}

.rodapePrincipal-contatoForm-submit {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color:  #000000;
	color: #FFF;
	cursor: pointer;
	
}

.rodapePrincipal-contatoForm-submit,
.rodapePrincipal-contatoForm-emailInput {
	outline: 0;
	border: 1px solid #000000;
	box-sizing: border-box;
	font-size: 16px;
}

.videoSobre {
	background-color: #2f3236;
	padding: 40px 0;

}

.videoSobre-video {
	max-width: 100%;
}

.video {
	max-width: 100%;
	padding: 40px;
	transform: scale(1.2);
	box-sizing: content-box;
}

.videoSobre .container {
	color: #FFF;
	display: flex;
}

.videoSobre-sobre-title {
	font-size: 1.5em;
	font-weight: bolder;
}

.videoSobre-sobre {
	height: 90%;
	font-size: 1.5em;
	line-height: 2;
	align-items: center;
	padding: 30px;
}

.videoSobre-button {
	border-radius: 8px;
	background-color: #ec6e5a;
	display: block;
	border: none;
	height: 50px;
	font-size: .8em;
	outline: none;
	width: 90%;
}

.videoSobre-button a {
	text-decoration: none;
	color: #FFF;
}

.text-part {
	flex-wrap: nowrap;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.text-title {
	padding-bottom: 40px;
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
}

.text-about {
	display: flex;
	flex-wrap: wrap;
	width: 45%;
	height: 100%;
	padding: 40px;
	text-align: justify;
}

.font {
	font-size: small;
	display: flex;
	flex-direction: row;
	height: 100%;
	text-align: justify;
}

.area-imagem-wolverine {
	padding: 40px;
	width: 55%;
}

.text-about p {
	margin-bottom: 40px;
}

.imagem-wolverine {
	margin-bottom: -50px;
	position: relative;
	max-width: 80%;
	height: auto;
	margin-left: 150px;
}

.rodapePrincipal-contatoForm-legend {
	margin-bottom: 10px;
}

@media(min-width: 769px) {

	.container {
		width: 85%;	
	}

	.subtitulo {
		text-align: left;
	}

	.cabecalhoPrincipal-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.cabecalhoPrincipal-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	}

	.cabecalhoPrincipal-titulo {
		margin: 0;
	}

	.cabecalhoPrincipal-nav {
		width: auto;
	}

	.cabecalhoPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}

	.rodapePrincipal-contatoForm {
		margin-top: 0;
		text-align: left;
	}

	.conteudoPrincipal-catalogo-link:nth-child(3n) {
		margin-right: 0;
	}

	.conteudoPrincipal-catalogo-link:nth-child(3n+1) {
		margin-left: 0;
	}

}

@media(min-width: 1000px) {
	.conteudoPrincipal-catalogo-link {
		margin: 1.333%;
	}

	.conteudoPrincipal-catalogo-link:nth-child(3n) {
		margin-right: 1.33%;
	}

	.conteudoPrincipal-catalogo-link:nth-child(3n+1) {
		margin-left: 1.333%;
	}

	.conteudoPrincipal-catalogo-link:nth-child(4n) {
		margin-right: 0;
	}

	.conteudoPrincipal-catalogo-link:nth-child(4n+1) {
		margin-left: 0;
	}

	.videoSobre-sobre {
		margin-left: 1.5em;
	}

}


